.ipynb_checkpoints
.DS_Store
.vscode/
.antigravitycli

brain/
data/
outputs/text/
gene_evolution_analysis/
images/
gif/
/outputs/figures/
scratch/

__pycache__/
*.pyc
*.pyo
*.pyd

#latex biproduct
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
