# Environment
.venv/
.ipynb_checkpoints
.DS_Store
.vscode/
.antigravitycli

# Folders to keep only in local
brain/
data/
outputs/text/
outputs/figures/
gene_evolution_analysis/
notebooks/
gif/

scratch/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

#latex biproduct
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
